// ==========================================================================
// Buttons
// ==========================================================================

@import
	"variables",
	"mixins";

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	@include button--base;
	background: $color__link;
	color: #fff;
	&:hover {
		background: #333;
		border-color: #333;
	}
	&:focus,
	&:active {
		background: #333;
		border-color: #333;
	}
}
