// ==========================================================================
// Links
// ==========================================================================

@include section("Links", sub);

a {
	color: royalblue;

	&:visited {
		color: purple;
	}
	&:hover,
	&:focus,
	&:active {
		color: midnightblue;
	}
}
