// ==========================================================================
// Form-field variables
// ==========================================================================

$form-field:(
	color: #333,
	border-color: #ccc,
	color--hover: #222,
);
