/* Enter */
// body.single .picard-enter {
// 	-webkit-animation: scaleUp .7s ease both;
// 	animation: scaleUp .7s ease both;
// }

.picard-enter {
	-webkit-animation: slideIn .7s ease both;
	animation: slideIn .7s ease both;
	position: absolute;
	width: 100%;
}
@-webkit-keyframes scaleUp {
	from {
		opacity: 0;
		-webkit-transform: scale(0.8);
	}
}
@keyframes scaleUp {
	from {
		opacity: 0;
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
	}
}

@-webkit-keyframes slideIn {
	from {
		opacity: 0.3;
		-webkit-transform: translateX(100%);
	}
	to {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}

@keyframes slideIn {
	from {
		opacity: 0.3;
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}
	to {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

/* Leave */
// body.single .picard-leave {
// 	-webkit-animation: scaleDown .7s ease both;
// 	animation: scaleDown .7s ease both;
// }

.picard-leave {
	-webkit-animation: slideOut .7s ease both;
	animation: slideOut .7s ease both;
	position: absolute;
	width: 100%;
}
@-webkit-keyframes scaleDown {
	from { }
	to {
		opacity: 0;
		-webkit-transform: scale(0.8);
	}
}
@keyframes scaleDown {
	from { }
	to {
		opacity: 0;
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
	}
}

@-webkit-keyframes slideOut {
	from {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
	to {
		opacity: 0.3;
		-webkit-transform: translateX(-100%);
	}
}

@keyframes slideOut {
	from {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	to {
		opacity: 0.3;
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}
}