// ==========================================================================
// Clearfix
//
// You can either use the mixin or @extend .clear.
// ==========================================================================


@mixin clearfix() {
	&:before,
	&:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
}

.entry-content,
.comment-content {
	@include clearfix;
}
