// ==========================================================================
// Colors
// ==========================================================================

$color__text--primary: #333;
$color__text--secondary: #666;
$color__link: #a72b3e;
$color__link--visited: $color__link;
$color__link--hover: midnightblue;
$color__border--primary: #eaeaea;
$color__border--secondary: $color__border--primary;
