.dropdown-toggle:before,
.menu-toggle:before,
.nav-next a:before,
.nav-previous a:before {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: inline-block;
	font-family: Genericons;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	height: 16px;
	line-height: 1;
	speak: none;
	text-decoration: inherit;
	vertical-align: top;
	width: 16px;
}
