// ==========================================================================
// Horizontal Rules
// ==========================================================================

@include section("Horizontal rules", sub);

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}
