// ==========================================================================
// Button variables
// ==========================================================================

$buttons:(
	color: royalblue,
	text: #fff,
);
