.picard-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.picard-enter.picard-enter-active {
  opacity: 1;
}

.picard-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.picard-leave.picard-leave-active {
  opacity: 0.01;
}
