// ==========================================================================
// Menus
// ==========================================================================

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding: 0;
}

// Move .main-navigation .menu into media-queries.scss
.main-navigation .menu {
	max-width: 770px;
	margin: 0 auto;
	padding: 0 32px;
}

.main-navigation ul.toggle-on {
	display: block;
	position: relative;
}
.main-navigation ul ul {
	padding-left: 24px;
	margin-top: 12px;
	margin-bottom: -12px;
	border-bottom: 0;
}
.main-navigation ul ul.toggle-on:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 24px;
	height: 1px;
	background: #eaeaea;
}
.main-navigation li {
	position: relative;
	padding-top: 12px;
	padding-bottom: 12px;
	border-top: 1px solid #eaeaea;
}
.main-navigation a {
	display: block;
	text-decoration: none;
	border-bottom: none;
}
.page_item_has_children > a,
.menu-item-has-children > a {
	position: relative;
	padding-right: 62px;
}

/* Menu Toogle */
.menu-toggle {
	position: absolute;
	top: 32px;
	right: 32px;
	padding: 0;
	width: 64px;
	height: 64px;
	border: 0;
}
.menu-toggle:before {
	content: "\f419";
	height: 64px;
	width: 64px;
	color: inherit;
	font-size: 16px;
	line-height: 64px;
}
.menu-toggle:hover,
.menu-toggle:focus,
.menu-toggle:active {
	/*
background: #333;
	border-left-color: #eaeaea;
	color: $color__link;
*/
}
.menu-toggle.toggle-on,
.menu-toggle.toggle-on:focus {
	background: #f2f2f2;
	color: #000;
}
.menu-toggle.toggle-on:hover,
.menu-toggle.toggle-on:active {
	color: #06973b;
}
.menu-toggle.toggle-on:before {
	content: "\f405";
	height: 64px;
	width: 64px;
	font-size: 32px;
	line-height: 64px;
}

/* Menu Description */
.menu-item-description {
	display: block;
	color: rgba(0, 0, 0, 0.6);
	font-weight: normal;
}

/* Dropdown Toggle */
.dropdown-toggle {
	content: "";
	display: block;
	position: absolute;
	z-index: 1;
	top: -1px;
	right: 0;
	width: 50px;
	height: 50px;
	background: #f2f2f2;
	border: 1px solid #d9d9d9;
}
.dropdown-toggle:before {
	content: "\f431";
	position: absolute;
	top: 11px;
	right: 11px;
	height: 24px;
	width: 24px;
	color: #000;
	font-size: 24px;
}
.dropdown-toggle:hover,
.dropdown-toggle:focus,
.dropdown-toggle:active {
	background: #fff;
}
.dropdown-toggle:hover:before,
.dropdown-toggle:focus:before,
.dropdown-toggle:active:before {
	color: #06973b;
}
.dropdown-toggle.toggle-on:before {
	content: "\f432";
}